/* obecne */
body{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 12pt;}

/* formulare */
fieldset{width: 750px;padding: 1em;border:1px solid #09f;}
legend{color: #09f;font-style: italic;font-size: 70%;}
label{width:240px;float: left;clear: both;margin-top: 5px;font-size: 80%;}
input[type=text],select,textarea{width:500px;float: left;margin-top: 5px;}

/* report */
div.report {font-weight: normal;font-size: 100%;padding: 0.5em 1em 0.5em 48px;background-position: 16px;background-repeat: no-repeat;text-align: left;font-family: georgia, "Times New Roman", Times, serif;margin: .5em 0 0.5em 0;}
div.report p{padding: 0;margin: 0.5em 0 0.5em 0;}
div.report.alert{background-color: #ffc;border: 1px solid #BDBF00;background-image: url(/style/error.png);}
div.report.accept{background-color: #f5f8ef;border: 1px solid green;background-image: url(/style/tick.png);}
div.report.warning{background-color: #FFDFDF;border: 1px solid red;background-image: url(/style/cross.png);}
div.report.info{background-color: #EFFBFF;border: 1px solid #00A5DF;background-image: url(/style/help.png);}