body{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; margin: 0; padding: 0; background: #fafafa;}
#tic_tac_toe,#tic_tac_toe .cell{border: 1px solid #ccc; font-family: "Times New Roman", Times, serif; font-size: 12pt;}
#tic_tac_toe{border-left: 2px solid #ccc; border-top: 2px solid #ccc; display: inline-block; margin: 20px; background: white;}
#tic_tac_toe .row{margin: 0; padding: 0; float: left; clear: both;}
#tic_tac_toe .cell{display: block; width: 20px; height: 20px; margin: 0; padding: 0; float: left; border-left: none; border-top: none; cursor: pointer; text-align: center; line-height: 20px; font-size: 16pt; font-weight: bold; overflow: hidden;}
#tic_tac_toe .cell.hover{background-color: #eee;}
#tic_tac_toe .cell.finished{background-color: #fff; cursor: default;}
#tic_tac_toe .cell.last-draw{background-color: #fcc;}
#tic_tac_toe .cell.win{background-color: orange;}

.debug_info{padding: 10px; background: #ffc; border: 1px solid black; margin: 0; display: block; width: 200px; position: absolute; top: 20px; right: 20px;}
.debug_info .symbol{position: absolute; top: 0; right: 10px; font-size: 350%; color: #fd4; font-family: "Times New Roman", Times, serif;}
.debug_info p{font-size: 120%; margin: 0 0 1em 0;}
.player_2{right: 260px;}